<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>  
     <key>zhy</key>
     <string>soft-package</string>
     <key>url</key>
     <string>https://172.30.30.88/zhy.ipa</string>
</dict>
<dict> 
     <key>zhy</key>
     <string>ituns-img</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <string></string>
</dict>
<dict>  
     <key>zhy</key>
     <string>soft-img</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <string></string>
</dict>
<key>metadata</key>
<dict>  
     <key>bundle-identifier</key>
     <string>com.zhouheiya</string>
     <key>bundle-version</key>
     <string>14.0</string>
     <key>zhy</key>
     <string>software</string>
      <key>title</key>
     <string>周黑鸭</string>
</dict>
</plist> 
